ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 16px;
}

svg {
	width: 25;
	height: 25;
	stroke-width: 1;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	overflow: hidden;
	vertical-align: middle;
}

.sidebar {
	width: 280px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	transition: width 0.1s ease, margin 0.1s ease-out;
	z-index: 999;
	/* border: 1px solid red; */
	background-color: #fff;
}

@media screen and (max-width: 760px) {
	.sidebar {
		width: 200px !important;
		border: 1px solid red !important;
	}
}
.sidebar-header {
	background: #fff;
	height: 64px;
	display: flex;
	align-items: center;
	padding: 0 25px 0 10px;
	/* border-right: 1px solid #f2f4f9; */
	z-index: 999;
	/* width: 100%; */
	transition: width 0.1s ease;
	/* border: 1px solid green; */
}

.sidebar-logo {
	display: flex;
	/* margin-left: 10px; */
	margin: auto;
	/* border: 1px solid pink; */
	height: 100%;
	width: 100%;
}

.sidebar-logo a {
	text-align: center;
}

.svg-logo {
	margin: auto;
	/* border: 1px solid yellow; */
}

.sidebar-brand img {
	vertical-align: middle;
	border-style: none;
}

.sidebar-brand {
	display: flex;
	margin-left: auto;
	/* border: 1px solid blue; */
	align-items: center;
}

.sidebar .sidebar-body {
	max-height: calc(100% - 60px);
	position: relative;
	height: 100%;
	box-shadow: 0 8px 6px 0 rgba(183, 192, 206, 0.2);
	background: #fff;
	/* border: 1px solid red; */
	padding: 2.5em;
}

.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
}

.sidebar .sidebar-body .nav {
	display: flex;
	flex-direction: column;
	/* padding: 25px 25px 50px 0px; */
	/* align-items: center;
    justify-items: center;
    justify-content: center; */
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	flex: 1;
	/* border: 1px solid green; */
}

.sidebar .sidebar-body .nav .nav-item {
	/* position: relative; */
	// border: 1px solid black;
	display: flex;
	align-items: center;
	/* margin: auto; */
	// margin: 30px auto;
	width: 240px;
}
.nav-item-active {
	border-right: 5px solid #03a5ff !important;
}

/* .sidebar .sidebar-body .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 25px;
  height: 45px;
  white-space: nowrap;
  color: inherit;
} */

.flex-container {
	display: flex;
	flex-direction: column;
	// border: 1px solid red;
	height: 100%;
	width: 100%;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
	margin-left: 12.8px;
	font-size: 16px;
	font-weight: 400;
	transition: all 0.2s ease-in-out;
}
