@import 'variables';
@import 'btn_styles';
@import 'rating';

.user-info {
	width: 25%;
	padding: 2rem 0.5rem 0;
	border-right: 0.03rem solid $borderColor;
	&--pic-container {
		position: relative;
	}
	&--edit-btn {
		position: absolute;
		display: block;
		top: 0;
		left: 25%;
		border: 0;
		background: rgba(1, 1, 1, 0);
		filter: drop-shadow(0 4px 16px rgba(1, 1, 1, 0.2));
	}
	&--pic {
		display: block;
		margin: 0 auto;
		border-radius: 50%;
		width: 6rem;
		height: 6rem;
	}
	&--online {
		position: absolute;
		bottom: 0;
		right: 30%;
		background: $primaryColor;
		width: 1.25rem;
		height: 1.25rem;
		border: 0.25rem solid #fff;
		border-radius: 50%;
	}
	&--name {
		text-align: center;
		margin-top: 0.4rem;
		font-size: 1.2rem;
		font-weight: 500;
		color: $primaryText;
	}
	&--map-marker {
		margin-right: 0.3rem;
		font-size: 0.9rem;
	}
	&--address {
		display: block;
		margin-top: 0.5rem;
		font-size: 1rem;
		text-align: center;
		color: $secondaryText;
		text-decoration: none;
		&-text {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&--mentor-button {
		display: block;
		margin: 3rem auto 0;
		border: 0;
		border-radius: 0.1rem;
		box-shadow: 0 4px 16px 0 rgba(1, 1, 1, 0.08);
		background: $bg-color;
		color: $primaryColor;
		width: 90%;
		padding: 1rem 0;
	}
}
