.user_info_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 60px;
  font-weight: 500;
}

.dashboard_link {
  align-items: right;
  color: #060553;
  text-decoration-color: #00d4ff;
  text-decoration-thickness: 2px;
  margin-right: 1.75rem;
}

.edit_profile_link {
  color: #060553;
  text-decoration-color: #00d4ff;
  text-decoration-thickness: 2px;
  margin-right: 4.25rem;
}
