.auth_links {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}

.gitlab_link {
  margin-top: 90px;
}

.fab_github,
.fab_gitlab {
  margin-right: 20px;
  color: #060553;
}

.github_link,
.gitlab_link {
  /* width: 320px;
  height: 2.25rem; */
  text-decoration: none;
  padding: 10px;
  border: 1px solid #060553;
  color: #060553;
}
